<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Invitations</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/material-design-lite/1.3.0/material.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/material-design-icons/4.0.0/material-icons.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" th:href="@{/general.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dark.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/table-dark.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/default-container-dark.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user-panel-header.css}">

    <script th:src="@{/webjars/material-design-lite/1.3.0/material.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/2.9.2/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container app-container" sec:authorize="isAuthenticated()">
    <div class="row sub-panel">
        <div class="col-10" >
            <div class="row" sec:authorize="hasRole('ADMIN')">
                <a href="/admin/invitations"><button   class="mdl-button mdl-js-button mdl-button--raised">Invitations Manager</button></a>
                <a href="/admin/assignments"><button class="mdl-button mdl-js-button mdl-button--raised">Assignments Manager</button></a>
                <a href="/admin/users"><button class="mdl-button mdl-js-button mdl-button--raised">User Manager</button></a>
            </div>
        </div>

        <a th:href="@{/}" class="col-3 user-link">
            <div class=" user-name" >
                <i class="material-icons" style="vertical-align: middle; display: inline">account_circle</i>
                <p style="vertical-align: middle; display: inline" sec:authentication="name"></p>
            </div>
        </a>



        <form class="col-1" method="POST" th:action="@{/appLogout}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button class="mdl-button mdl-js-button mdl-button--ico" type="submit">
                <i class="material-icons">logout</i>
            </button>
        </form>
    </div>
    <form class="row sub-panel" method='POST' th:action="@{/admin/invitations}" th:object="${requestForm}">
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>

        <div class="col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input th:field="*{email}" class="mdl-textfield__input" type='text' id="email" name='email' value=''>
                <label class="mdl-textfield__label" for="email">Email</label>
            </div>

            <button class="mdl-button mdl-js-button mdl-button--ico" style="display: inline" type="submit">
                <i class="material-icons">add</i>
            </button>
        </div>
        <p class="row" th:each="err : ${#fields.errors('email')}" th:text="${err}"></p>

    </form>
    <div th:if="${!invitations.isEmpty()}" class="row sub-panel">
        <table  class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Creation Date</th>
                <th class="mdl-data-table__cell--non-numeric">Email</th>
                <th class="mdl-data-table__cell--non-numeric">Controls</th>
            </tr>
            <tr th:each="invitation: ${invitations}">
                <td class="mdl-data-table__cell--non-numeric" th:utext="${invitation.getCreationDate()}"></td>
                <td class="mdl-data-table__cell--non-numeric" th:utext="${invitation.getEmail()}"></td>
                <td class="mdl-data-table__cell--non-numeric">
                    <form th:action="@{'/admin/invitations/{id}'(id=${invitation.getId()})}" th:method="DELETE">
                        <input type="hidden"
                               th:name="${_csrf.parameterName}"
                               th:value="${_csrf.token}"
                        />

                        <button class="mdl-button mdl-js-button mdl-button--ico" type="submit">
                            <i class="material-icons">delete</i>
                        </button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

</div>


</body>
</html>

