<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Services</title>

    <link rel="stylesheet" th:href="@{/webjars/material-design-lite/1.3.0/material.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/webjars/material-design-icons/4.0.0/material-icons.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css} " type="text/css"/>
    <link rel="stylesheet" th:href="@{/general.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/dark.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/table-dark.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/default-container-dark.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user-panel-header.css}" type="text/css">

    <script th:src="@{/webjars/material-design-lite/1.3.0/material.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/2.9.2/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container app-container" sec:authorize="isAuthenticated()">
    <div th:replace="auth-fragments :: auth-header"></div>

    <div class="row sub-panel">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <tr>
                <th class="mdl-data-table__cell--non-numeric">User Name</th>
                <th class="mdl-data-table__cell--non-numeric" th:each="service : ${services}"
                    th:utext="${service}"></th>
            </tr>
            <tr th:each="user: ${servicesMap.keySet()}">
                <td class="mdl-data-table__cell--non-numeric" th:utext="${user.getUsername()}"></td>
                <td class="mdl-data-table__cell--non-numeric" th:each="service : ${services}">
                    <div th:if="${servicesMap.get(user) != null && servicesMap.get(user).get(service) != null}">
                        <form th:action="@{'/admin/services/{id}'(id=${servicesMap.get(user).get(service).getId()})}"
                              th:method="DELETE">
                            <input th:name="${_csrf.parameterName}"
                                   th:value="${_csrf.token}"
                                   type="hidden"
                            />
                            <button class="mdl-button mdl-js-button mdl-button--ico" type="submit">
                                <i class="material-icons">delete</i>
                            </button>
                        </form>

                        <a th:href="@{/admin/services/master/{service}/{user}(service=${service}, user=${user.getId().toString()})}">
                            <button class="mdl-button mdl-js-button mdl-button--ico" style="display: inline">
                                <i class="material-icons">settings</i>
                            </button>
                        </a>
                    </div>
                    <div th:if="${servicesMap.get(user) == null || servicesMap.get(user).get(service) == null}">

                        <a th:href="@{/admin/services/master/{service}/{user}(service=${service}, user=${user.getId().toString()})}">
                            <button class="mdl-button mdl-js-button mdl-button--ico" style="display: inline">
                                <i class="material-icons">add</i>
                            </button>
                        </a>

                    </div>
                </td>

            </tr>
        </table>
    </div>
</div>


</body>
</html>
